@if (showTimerWarning()) {
  <p-message severity="warn" styleClass="my-4 w-fit">
    <span class="select-none">
      <span class="text-2xl">⏱️</span>&nbsp;<strong class="text-xl">Dépêchez-vous !</strong>
      @if (timeLeft()) {
        <br />
        <span>
          Il ne vous reste que
          <span class="inline-block w-8 text-center font-mono text-2xl">{{ timeLeft() }}</span>
          secondes pour répondre.
        </span>
      }
    </span>
  </p-message>
}
@if (timesUp()) {
  <p-message severity="error" styleClass="my-4 w-fit">
    <span class="select-none">
      <span class="text-2xl">⏰</span>&nbsp;<strong class="text-xl">Temps écoulé !</strong>
      <br />
      Vos réponses ne peuvent plus être modifiées.
    </span>
  </p-message>
}
