<nav aria-label="Menu administrateur">
  <ul class="flex gap-2 px-10">
    <li class="me-auto">
      <a pButton routerLink="/admin" title="Aller sur le tableau de bord" text outlined>
        <p-image src="images/quezap.svg" class="min-w-20" width="100" alt="QueZap"></p-image>
      </a>
    </li>
    <li>
      <a pButton routerLink="/admin/dashboard" severity="contrast" text outlined>
        <span>Tableau de bord</span>
      </a>
    </li>
    <li>
      <a pButton routerLink="/admin/themes" severity="contrast" text outlined>
        <span>Thèmes</span>
      </a>
    </li>
    <li>
      <a pButton routerLink="/" severity="contrast" text outlined>
        <span>Retour au site</span>
      </a>
    </li>
  </ul>
</nav>
