<nav aria-label="Menu administrateur">
  <ul class="flex flex-wrap gap-2">
    <li>
      <a pButton routerLink="/admin/dashboard" severity="contrast" text outlined>
        <span>Tableau de bord</span>
      </a>
    </li>
    <li>
      <a pButton routerLink="/admin/quezaps" severity="contrast" text outlined>
        <span>Quezaps</span>
      </a>
    </li>
    <li>
      <a pButton routerLink="/admin/themes" severity="contrast" text outlined>
        <span>Thèmes</span>
      </a>
    </li>
    <li>
      <a pButton routerLink="/" severity="contrast" text outlined>
        <span>Retour au site</span>
      </a>
    </li>
  </ul>
</nav>
