<p-dialog
  header="Créer une partie"
  [modal]="true"
  [pt]="{ root: { class: 'md:max-w-5/8 lg:md:max-w-3/8' } }"
  [inert]="this.registerForm().submitting()"
  (onHide)="onModalHide()"
  (onShow)="onModalHide()"
  [(visible)]="visible"
>
  <ng-template #content>
    <form
      class="flex flex-col justify-center"
      [inert]="this.registerForm().submitting()"
      (submit)="onRegister(); $event.preventDefault()"
    >
      <span class="p-text-secondary block mb-8">
        <p>Pour créer une partie <strong>vous devez posséder un compte</strong>.</p>
        <p>
          Votre adresse <strong>e-mail est obligatoire</strong> pour la
          <strong>réinitialisation de votre mot de passe</strong> et pour recevoir les
          communications importantes de l'administrateur concernant votre profil.
        </p>
        <p>Vos informations sont protégées et ne seront jamais divulguées à des tiers.</p>
      </span>
      <div class="flex flex-col items-center gap-4 mb-8 mx-auto">
        <label for="email" class="font-semibold w-24 me-30">Email</label>
        <input
          pInputText
          id="email"
          class="flex-auto"
          autocomplete="email"
          type="email"
          quizzFieldError
          [field]="registerForm.email"
          [fieldState]="registerForm.email"
        />
      </div>
      <div class="flex justify-end gap-2">
        <p-button label="Fermer" severity="secondary" (click)="onCancel()" (keydown)="onCancel()" />
        <p-button
          label="Recevoir mon lien d'activation"
          type="submit"
          [disabled]="this.registerForm().invalid() || this.registerForm().submitting()"
        >
          @if(this.registerForm().submitting()) {
          <i class="pi pi-cog pi-spin" pButtonIcon></i>
          }
        </p-button>
      </div>
    </form>
  </ng-template>
</p-dialog>
