@if(debug()) {
<div
  class="fixed top-3/6 right-1 z-50 bg-surface-200/80 dark:bg-surface-800/80 backdrop-blur-md p-2 rounded-md shadow-md flex flex-col items-center gap-2"
>
  <button
    title="Basculer le mode site web"
    pButton
    class="w-10 cursor-pointer"
    text
    outlined
    (click)="toggleWebsiteMode()"
  >
    <i
      class="pi"
      [class]="{
        'pi-arrow-up-right-and-arrow-down-left-from-center': asWebsite(),
        'pi-arrow-down-left-and-arrow-up-right-to-center': !asWebsite()
      }"
    ></i>
  </button>
  <a
    title="Ouvrir la page template"
    routerLink="/template"
    class="w-10"
    icon="pi pi-android"
    pButton
    text
    outlined
  ></a>
</div>
}
