<div class="flex h-dvh flex-col">
  <nav class="bg-surface-200 dark:bg-surface-800 flex p-2 drop-shadow-md">
    <quizz-title-editor class="mx-4" [(quezap)]="quezap" />

    <menu class="ms-auto">
      <button pButton raised severity="success" class="ml-4" (click)="onSaveQuezap()">
        <span pButtonLabel>Enregistrer</span>
      </button>
      <button pButton raised severity="secondary" class="ml-4" (click)="onCloseEditor()">
        <span pButtonLabel>Fermer</span>
      </button>
    </menu>
    <p-confirmdialog>
      <ng-template pTemplate="icon">
        <quizz-icon name="warn" severity="warn" />
      </ng-template>
    </p-confirmdialog>
  </nav>
  <div class="flex grow flex-row">
    <quizz-question-list-view
      class="basis-1/6"
      [questions]="questions()"
      [(selectedIdx)]="selectedIdx"
    />
    <quizz-question-editor class="w-full" [(question)]="selectedQuestion" />
  </div>
</div>
