<div class="flex h-dvh flex-col">
  <nav class="bg-surface-200 dark:bg-surface-800 flex p-2 drop-shadow-md">
    <quizz-title-editor class="mx-4" />

    <!-- Editorial buttons -->
    <menu class="ms-auto">
      <button pButton raised severity="success" class="ml-4" (click)="onSaveQuezap()">
        <span pButtonLabel>Enregistrer</span>
      </button>
      <button pButton raised severity="secondary" class="ml-4" (click)="onCloseEditor()">
        <span pButtonLabel>Fermer</span>
      </button>
    </menu>

    <!-- Confirmation dialog for unsaved changes -->
    <p-confirmdialog>
      <ng-template pTemplate="icon">
        <quizz-icon name="warn" severity="warn" />
      </ng-template>
    </p-confirmdialog>
  </nav>

  <div class="flex grow flex-row">
    <!-- Sidebar with questions list -->
    <quizz-question-list-view class="h-full max-h-[calc(100dvh-4rem)] basis-1/6" />

    <!-- Question editor -->
    <quizz-question-editor class="w-full" />
  </div>
</div>
