<p-card [style]="{ '--p-card-body-padding': '.4rem .2rem .4rem .8rem' }">
  <div class="flex flex-row items-center justify-center gap-2">
    <span class="text-lg-center py-2 pe-2">{{ theme().name }}</span>

    @if (editable()) {
      <p-button
        severity="primary"
        text
        title="Changer le nom du thème"
        size="small"
        (onClick)="onOpenEditor()"
      >
        <quizz-icon name="pencil" pButtonIcon />
      </p-button>
      <quizz-theme-editor [theme]="theme()" [(visible)]="editorIsVisible" />
    }
  </div>
</p-card>
