<div class="flex h-dvh flex-col items-center justify-center p-2">
  <!-- QUESTION TITLE -->
  <div
    class="question-background mt-5 mb-2 w-full rounded px-4 py-2 pt-15 shadow-md md:w-fit md:pt-2"
  >
    <h1
      class="font-body text-color-emphasis mb-0 p-4 text-center text-2xl tracking-tighter italic md:text-3xl"
    >
      {{ phrase() }}
    </h1>
  </div>

  <!-- CONTENT FRAME -->
  <div
    class="relative flex w-full grow flex-col rounded-lg border border-amber-600 p-6 shadow-md dark:border-amber-300"
  >
    <div class="flex flex-col-reverse items-center justify-between lg:flex-row lg:items-start">
      <!-- QUESTION ELEMENTS -->
      @let pictureUrl = picture();
      @if (pictureUrl !== undefined) {
        <div class="flex w-full flex-col items-center justify-center px-5 lg:w-1/3">
          <div class="question-background mb-4 flex w-fit flex-col rounded-xl p-2 shadow-md">
            <quizz-picture aria-labelledby="question-image-desc" [pictureUrl]="pictureUrl" />
            <span id="question-image-desc" class="ms-4 text-xl select-none">
              Image de la question
            </span>
          </div>
        </div>
      }

      <!-- TIMER -->
      @let secondsLeft = timeLeft();
      @if (secondsLeft !== undefined) {
        <quizz-question-alert class="ms-auto" [timeLeft]="secondsLeft" />
      }
    </div>

    <!-- ANSWERS -->
    <form
      class="grid h-full w-full grow items-start gap-4 pb-20 md:grid-cols-2 md:pb-0"
      [inert]="cannotAnswerAnymore()"
    >
      @for (answer of answers(); track answer.index) {
        @let response = responseForm[answer.index];
        @if (response !== undefined) {
          <quizz-question-answer
            class="h-full max-h-40 w-full md:nth-[-n+2]:self-end md:nth-[n+3]:self-start"
            [questionId]="questionId()"
            [answer]="answer"
            [field]="response"
          />
        } @else {
          pas de reponse
        }
      }
    </form>
  </div>
</div>
