<div class="flex h-dvh flex-col items-center justify-center p-2">
  <div
    class="question-background mt-5 mb-2 w-full rounded px-4 py-2 pt-15 shadow-md md:w-fit md:pt-2"
  >
    <h1
      class="font-body text-color-emphasis mb-0 p-4 text-center text-2xl tracking-tighter italic md:text-3xl"
    >
      {{ phrase() }}
    </h1>
  </div>

  <div
    class="relative w-full grow rounded-lg border border-amber-600 p-6 shadow-md dark:border-amber-300"
  >
    @let pictureUrl = picture();
    @if (pictureUrl !== undefined) {
      <div class="question-background mb-4 flex w-fit flex-col rounded-xl p-2 shadow-md">
        <quizz-picture aria-labelledby="question-image-desc" [pictureUrl]="pictureUrl" />
        <span id="question-image-desc" class="ms-4 text-xl">Image de la question</span>
      </div>
    }

    @let quizzTimer = timer();
    @if (quizzTimer !== undefined) {
      <quizz-timer
        class="pointer-events-none absolute right-5 bottom-5"
        [started]="started()"
        [timer]="quizzTimer"
        (exhausted)="onTimeExhausted()"
      />
    }

    <quizz-question-theme class="pointer-events-none absolute bottom-5 left-5" [theme]="theme()" />

    <div class="space-y-4">
      <!-- @for (let answer of question().answers) {
        <div class="answer-option">
          <label class="flex items-center space-x-3">
            <input
              type="radio"
              name="answer"
              [value]="answer.id"
              class="form-radio h-5 w-5 text-blue-600"
            />
            <span class="text-lg">{{ answer.text }}</span>
          </label>
        </div>
      } -->
    </div>
  </div>
</div>
