/* stylelint-disable */
@reference "#tailwind.css";
/* stylelint-enable */

.answer-option {
  @apply relative;
  @apply w-full;
  @apply border-2 cursor-pointer;
  @apply rounded-lg transition-all duration-200;
  @apply grayscale-100;
}

.answer-option:has(input:checked) {
  @apply shadow-lg shadow-current/20;
  @apply grayscale-0!;
}

/* NATIVE CHECKBOX HIDE */
.answer-option input {
  @apply appearance-none;
  @apply absolute;
  @apply w-full h-full;
  @apply m-0 p-0;

  background-color: transparent;
}

.answer-option input:focus {
  @apply outline-none;
  @apply ring-4 ring-offset-2 ring-surface-100 rounded-lg;

  @media (prefers-color-scheme: dark) {
    @apply ring-4 ring-surface-0 ring-offset-2;
  }
}
