<div class="relative flex w-full flex-col items-center">
  <div class="absolute top-0 left-2 flex p-4">
    @if (isDebug()) {
      <quizz-debug-toolbar />
    }
  </div>
  <div class="flex h-dvh w-full flex-row items-center justify-center">
      @let questionToShow = question();
      @if (questionToShow === null) {
        <div class="flex flex-col items-center gap-4">
          <span class="h2">En attente de la question suivante</span>
          <quizz-spinner />
        </div>
      } @else {
        @defer {
          @if (isBoolean(questionToShow)) {
            <span>boolean</span>
            <quizz-question-boolean [question]="questionToShow" />
          } @else if (isBinary(questionToShow)) {
            <span>binary</span>
            <quizz-question-binary [question]="questionToShow" />
          } @else if (isQuizz(questionToShow)) {
            <span>quizz</span>
            <quizz-question-quizz [question]="questionToShow" />
          } @else {
            <p-message type="error" class="mx-auto max-w-md">
              <span> Type de question non géré : {{ questionToShow.type }} </span>
            </p-message>
          }
        } @loading {
          <quizz-spinner />
        } @error {
          <span>Type de question inconnu : {{ questionToShow.type }}</span>
        }
      }
  </div>
</div>
