@if (debug()) {
  <div
    class="border-contrast-800 fixed top-3/6 right-0 z-50 flex flex-col items-center gap-2 rounded-l-md border-y border-l bg-stone-200/80 p-2 shadow-md backdrop-blur-md dark:bg-stone-800/80"
  >
    <button
      title="Basculer le mode site web"
      pButton
      class="w-10 cursor-pointer"
      text
      outlined
      severity="contrast"
      (click)="toggleWebsiteMode()"
    >
      <quizz-icon pButtonIcon [name]="asWebsite() ? 'bigger' : 'smaller'" />
    </button>
    <a
      title="Ouvrir la page template"
      routerLink="/template"
      class="w-10"
      pButton
      text
      outlined
      severity="contrast"
    >
      <quizz-icon name="debug" pButtonIcon />
    </a>
  </div>
}
