:host {
  --base-color: var(--color-slate-900);
  --stroke-color: var(--color-white);
  --checked-fill: color-mix(in srgb, var(--question-icon-color) 100%, white 30%);
  --checked-stroke: var(--color-slate-900);

  @media (prefers-color-scheme: dark) {
    --base-color: var(--color-slate-300);
    --stroke-color: var(--color-slate-900);
    --checked-fill: color-mix(in srgb, var(--question-icon-color) 100%, white 90%);
    --checked-stroke: var(--color-white);
  }

  path, polygon, circle, rect {
    fill: var(--base-color) !important;
    stroke: var(--stroke-color) !important;
    stroke-width: 0.2rem;
    transition: all 0.2s;
  }

  .checked {
    path, polygon, circle, rect {
      fill: var(--checked-fill) !important;
      stroke: var(--checked-stroke) !important;
    }
  }
}
