@layer base {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-stone-700 dark:text-stone-200;
    @apply font-bold tracking-wide;
  }

  .h1,
  h1 {
    @apply text-4xl sm:text-5xl lg:text-6xl mb-3 font-title uppercase;
  }

  .h2,
  h2 {
    @apply text-xl mb-3 font-semibold;
  }

  .h3,
  h3 {
    @apply text-lg mb-3 font-semibold;
  }

  .h4,
  h4 {
    @apply text-base mb-2 font-semibold;
  }

  .h5,
  h5 {
    @apply text-sm mb-2 font-semibold;
  }

  .h6,
  h6 {
    @apply text-xs mb-1 font-semibold;
  }
}
