@layer base {
  a {
    @apply transition-colors duration-200 ease-in-out;
    @apply cursor-pointer;

    color: var(--color-ui-links);
  }


  nav a {
    color: var(--p-surface-800);

    @media (prefers-color-scheme: dark) {
      color: var(--p-surface-200);
    }
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color: var(--color-ui-links-visited);
  }

  nav a:visited {
    color: var(--p-surface-900);

    @media (prefers-color-scheme: dark) {
      color: var(--p-surface-100);
    }
  }

  a:visited :hover {
    text-decoration: underline;
  }
}
