<div class="flex h-full flex-col items-center justify-center">
  <h1 class="mb-5">Connexion</h1>

  <form
    class="flex flex-col justify-center"
    [inert]="this.loginForm().submitting()"
    (submit)="onLogin(); $event.preventDefault()"
  >
    @if (this.loginError()) {
      <div class="mb-4">
        <p-message severity="error" closable="true">
          <span>Une erreur est survenue lors de la connexion</span>
        </p-message>
      </div>
    }
    @if (this.invalidCredentials()) {
      <div class="mb-4">
        <p-message severity="error">
          <span>Email ou mot de passe invalide</span>
        </p-message>
      </div>
    }

    <div class="mx-auto mb-8 flex flex-col gap-4 md:items-center">
      <label for="email" class="font-semibold md:me-30 md:w-40">Email</label>
      <input
        pInputText
        id="email"
        class="w-full flex-auto"
        autocomplete="email"
        type="email"
        [field]="loginForm.email"
      />
    </div>
    <div class="mx-auto mb-8 flex flex-col gap-4 md:items-center">
      <label for="password" class="font-semibold md:me-30 md:w-40">Mot de passe</label>
      <input
        pInputText
        id="password"
        class="w-full flex-auto"
        autocomplete="current-password"
        type="password"
        [field]="loginForm.password"
      />
    </div>
    <div class="relative mb-5 flex justify-center gap-2">
      @if (isDebug()) {
        <p-button
          type="button"
          class="absolute bottom-1/2 left-0 translate-y-1/2"
          title="Utiliser des identifiants de test"
          severity="info"
          outlined
          (click)="onFillMockedCredentials()"
          (keypress)="onFillMockedCredentials()"
        >
          <quizz-icon name="debug" pButtonIcon />
        </p-button>
      }
      <p-button
        label="Se connecter"
        type="submit"
        [disabled]="this.loginForm().submitting() || !this.loginForm().dirty()"
      >
        @if (this.loginForm().submitting()) {
          <quizz-icon name="cog" animation="spin" pButtonIcon />
        }
      </p-button>
    </div>

    <div class="relative flex justify-center gap-2">
      <p class="sm:w-80">
        Mince ! <br />
        J'ai oublié et je veux
        <a routerLink="/auth/reset"> rénitialiser mon mot de passe</a>
      </p>
    </div>
  </form>
</div>
