<div class="my-6 flex items-center justify-center">
  <h1 class="text-3xl font-bold">Gestion des thèmes</h1>
</div>

<div class="flex justify-center">
  <div class="flex flex-wrap items-center gap-3">
    <button pButton title="Créer un thème" class="me-10" (click)="onCreateTheme()">
      <quizz-icon name="plus" pButtonIcon />
    </button>
    <quizz-theme-editor
      [theme]="{ name: '' }"
      [(visible)]="isThemeEditorVisible"
    ></quizz-theme-editor>
  </div>

  <quizz-paginator [pageInfo]="pageInfo()" (paginationChanged)="onPaginationChanged($event)" />
</div>

<div
  class="border-surface-300 dark:border-surface-700 mt-6 h-fit overflow-y-auto rounded-lg border px-5 py-15"
>
  @if (pageInfo().totalElements === 0) {
    <div class="py-4">No themes found.</div>
  } @else {
    <div class="flex flex-row flex-wrap gap-3 py-4">
      @for (theme of themes(); track theme.id) {
        <quizz-theme-card [theme]="theme" [editable]="true" />
      }
    </div>
  }
  @if (pageInfo().totalElements > 25) {
    <div class="flex justify-center">
      <quizz-paginator [pageInfo]="pageInfo()" (paginationChanged)="onPaginationChanged($event)" />
    </div>
  }
</div>
