<div
  class="bg-surface-0 dark:bg-surface-900 border-surface-200 dark:border-surface-800 relative max-h-80 max-w-140 overflow-y-auto rounded-lg border p-4 pt-0"
>
  <h2 class="sticky top-0 pt-4 pb-2">Participants</h2>
  <ul class="flex flex-wrap">
    @for (participant of participants(); track participant.id) {
      <li class="m-1 flex flex-row items-center gap-1">
        <quizz-participant-icon
          class="inline-block w-10"
          backgroundColor="var(--p-surface-200)"
          leafColor="green"
        />
        <span>{{ participant.nickname }}</span>
      </li>
    }
  </ul>
</div>
