<div class="flex h-full flex-col items-center justify-center">
  <div class="relative">
    <h1 class="mb-5">Réinitialisation du mot de passe</h1>
  </div>

  <form
    class="flex flex-col justify-center"
    [inert]="resetForm().submitting()"
    (submit)="onReset(); $event.preventDefault()"
  >
    @if (anErrorOccured()) {
      <div class="flex">
        <p-message severity="error" class="mb-4">
          <span>
            Une erreur est survenue lors de la demande de réinitialisation. Veuillez réessayer plus
            tard.
          </span>
        </p-message>
      </div>
    }
    <div class="mx-auto mb-4 flex flex-col gap-4 md:items-center">
      <label for="password" class="font-semibold md:me-30 md:w-40">Nouveau mot de passe</label>
      <input
        pInputText
        id="password"
        class="w-full flex-auto"
        autocomplete="new-password"
        type="password"
        quizzFieldError
        [field]="resetForm.password"
        [fieldState]="resetForm.password"
      />
    </div>

    <div class="mx-auto mb-8 flex flex-col gap-4 md:items-center">
      <label for="password-confirmation" class="font-semibold md:me-30 md:w-40">
        Confirmez le mot de passe
      </label>
      <input
        pInputText
        id="password-confirmation"
        class="w-full flex-auto"
        autocomplete="current-password"
        type="password"
        quizzFieldError
        [field]="resetForm.confirmPassword"
        [fieldState]="resetForm.confirmPassword"
      />
    </div>

    <div class="relative flex justify-center gap-2">
      @if (isDebug()) {
        <p-button
          type="button"
          class="relative bottom-1/2 translate-y-1/2"
          title="Remplir avec des valeurs factices"
          severity="info"
          outlined
          (onClick)="onFillMockedValues()"
        >
          <quizz-icon name="android" pButtonIcon />
        </p-button>
      }
      <p-button
        label="Réinitialiser le mot de passe"
        type="submit"
        [disabled]="
          this.resetForm().submitting() || !this.resetForm().dirty() || this.resetForm().invalid()
        "
      >
        @if (this.resetForm().submitting()) {
          <quizz-icon name="cog" animation="spin" pButtonIcon />
        }
      </p-button>
    </div>
  </form>
</div>
