/* stylelint-disable */
@reference "#tailwind.css";
/* stylelint-enable */

.container-question-list-view {
  @apply border border-surface-300 dark:border-surface-700;
  @apply bg-surface-200 dark:bg-surface-800;
}
