@import './tailwind.css';
@import './fonts.css';
@import './quezap-theme/index.css';

html,
body {
  height: 100dvh;
  margin: 0;
  line-height: 1.6;

  quizz-root {
    @apply flex flex-col h-full;
  }
}
