/* stylelint-disable */
@reference "#tailwind.css";
/* stylelint-enable */

.text-green-outlined {
  @apply text-green-800;

  text-shadow: -2px -2px 0 rgb(255 255 255 / 50%), 2px -2px 0 rgb(255 255 255 / 50%),
    -2px 2px 0 rgb(255 255 255 / 50%), 2px 2px 0 rgb(255 255 255 / 50%);

  @media (prefers-color-scheme: dark) {
    @apply text-green-300;

    text-shadow: -2px -2px 0 rgb(0 0 0 / 50%), 2px -2px 0 rgb(0 0 0 / 50%),
      -2px 2px 0 rgb(0 0 0 / 50%), 2px 2px 0 rgb(0 0 0 / 50%);
  }
}
