<p-button
  ariaLabel="Quitter le quizz"
  title="Quitter le quizz"
  severity="info"
  class="fixed top-4 right-4 z-50"
  rounded="true"
  raised="true"
  [pt]="{
    root: {
      style: 'width: 2rem; height: 2rem',
    },
  }"
  (onClick)="onQuitQuizz($event)"
>
  <quizz-icon name="exit" pButtonIcon />
</p-button>
<p-confirmpopup
  #confirmQuitQuizz
  [pt]="{ root: { 'aria-label': 'Confirmez vouloir quitter la session', tabindex: 0 } }"
>
  <ng-template #headless let-message>
    <div class="rounded p-4">
      <span>Vous êtes sur de vouloir quitter la session ?</span>
      <div class="mt-4 flex items-center gap-2">
        <p-button
          ariaLabel="Oui je veux quitter la session"
          title="Oui je veux quitter la session"
          size="small"
          severity="danger"
          [text]="true"
          (onClick)="confirmQuitQuizz.onAccept()"
        >
          <quizz-icon name="check" pButtonIcon />
        </p-button>
        <p-button
          ariaLabel="Retour"
          title="Retour"
          size="small"
          severity="primary"
          (onClick)="confirmQuitQuizz.onReject()"
        >
          <quizz-icon name="exit" pButtonIcon />
        </p-button>
      </div>
    </div>
  </ng-template>
</p-confirmpopup>
