/* stylelint-disable */
@reference "#tailwind.css";
/* stylelint-enable */

.inplace-quezap-title {
  /* RESET NGPRIME INPLACE BUTTONS STYLES */
  --p-inplace-display-hover-background: var(--p-inplace-display-background);
  --p-inplace-display-hover-color: var(--p-inplace-display-color);

  padding: 0 !important;
}
