<p-paginator
  [first]="(pageInfo().page - 1) * pageInfo().pageSize"
  [rows]="pageInfo().pageSize"
  [totalRecords]="pageInfo().totalElements"
  [rowsPerPageOptions]="perPageOptions"
  [showFirstLastIcon]="showFirstLastIcon()"
  [showJumpToPageDropdown]="showJumpToPageDropdown()"
  [showPageLinks]="showPageLinks()"
  [showCurrentPageReport]="showCurrentPageReport()"
  [currentPageReportTemplate]="'Page {currentPage} de {totalPages}'"
  [pt]="{
    root: {
      class: 'flex flex-wrap justify-center my-4'
    },
    current: {
      class: 'hidden md:inline-flex'
    },
    prev: {
      title: 'Page précédente'
    },
    prevIcon: {
      'aria-hidden': true
    },
    next: {
      title: 'Page suivante'
    },
    nextIcon: {
      'aria-hidden': true
    },
    first: {
      title: 'Première page'
    },
    firstIcon: {
      'aria-hidden': true
    },
    last: {
      title: 'Dernière page'
    },
    lastIcon: {
      'aria-hidden': true
    },
    pcRowPerPageDropdown: {
      dropdownIcon: {
        'aria-hidden': true
      }
    }
  }"
  (onPageChange)="onPageChange($event)"
/>
